.message-container{
  padding-left: 11em;
}

#message-bay{
  position: fixed;
  bottom: 2em;
  left: 2em;
}

.message-button {

}

.messages {

}

ul.messages li:nth-child(odd){
  background:#8fbbcc;
}

ul.messages li:nth-child(even){
  background:#e2b5d9;
}

ul, menu, dir {
  list-style-type: none;
}

*, *::after, *::before {
  box-sizing: initial;
}
